.about-container {
  background: #000;
  border-radius: 24px;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  max-width: 60vw;
  margin: 3rem auto 0 auto;
  border: 1px solid #333;
}

.about-title {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.about-role {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.about-text {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}